.page {
  display: flex;
  flex-direction: column;
  gap: var(--gap-block);
  font-family: "IBM Plex Mono", sans-serif;
  background-image: var(--page-bg-color-images);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-color: var(--basic-bg-color);
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  grid-template-columns: var(--header-template-columns);
  block-size: 100vh;
  min-block-size: var(--header-min-size-block); 
  padding-inline: var(--header-padding-inline);
  padding-block: var(--header-padding-block);
}

.header__decorative-text {
  position: absolute;
  right: var(--right-position-text-decor);
  top: var(--top-posotion-text-decor);
  display: var(--visibil-text-decor);
  padding-block: var(--padding-block-decr-text);
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  color: var(--accent-color);
}

.header__decorative-text::after {
  content: "";
  display: inline-block;
  place-self: center end;
  margin-inline-start: 10px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0px 0px 4px 2px var(--accent-color);
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: var(--top-position-element-decor);
  right: var(--right-position-element-decor); 
  width: 25px;
  height: 25px;
  border-width: 1px 1px 0px 0px;
  border-style: solid;
  border-color: var(--design-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: var(--bottom-position-element-decor);
  left: var(--left-position-element-decor);
  width: 25px;
  height: 25px;
  border-width: 0px 0px 1px 1px;
  border-style: solid;
  border-color: var(--design-color);
}

.header__theme-menu {
  place-self: var(--place-self-theme-menu); 
  grid-column: var(--grid-column-theme-menu);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  justify-content: center;
  align-items: center;
  inline-size: 70px;
  block-size: 26px;
  border: none;
  font-weight: 400;
  font-size: 18px;
  background-color: transparent;
  color: var(--design-color);
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--button-hover-color);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--design-color);
  pointer-events: none;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-block-end: 1px solid var(--design-color);
}

.header__title {
  place-self: center start;
  font-weight: 700;
  line-height: 83%;
  font-size: var(--font-size-header-title); 
  color: var(--shadow-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__description {
  place-self: center end;
  margin-block: var(--description-margin-block);
  inline-size: var(--inline-size-description);
  font-weight: 700;
  font-size: 18px;
  color: var(--basic-color);
  background-color: var(--accent-color);
}

.main {
  display: grid;
  gap: var(--main-gap-block);
  padding-inline: 10px;
}

.main__section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding-block: var(--main-section-padding-block);
}

.section__title {
  inline-size: 100%;
  font-weight: 700;
  font-size: 18px;
  color: var(--design-color);
}

.section__card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 18px;
}

.card-title {
  font-size: 18px;
}

.card-title-accent {
  font-weight: 400;
}

.general-title-card ~ .card-title-accent {
  margin-block-start: 10px;
}

.title-decor {
  color: var(--basic-color);
  background-color: var(--accent-color);
}

.card-text {
  line-height: 23.4px;
  color: var(--color-without-accent);
}

.card-text-links {
  color: var(--color-without-accent);
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.card-text-links:hover {
  text-decoration: underline var(--color-without-accent);
}

.card-text-links:focus-visible {
  outline: 1px solid var(--color-without-accent);
}

.section__gallery {
  gap: 10px;
}

.card-image {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.footer {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  block-size: 100vh;
  min-block-size: var(--header-min-size-block);
  margin-block: var(--footer-margin-block);
}

.footer__title {
  place-self: center;
  font-weight: 700;
  font-size: var(--font-size-header-title);
  color: var(--shadow-color);
  text-shadow: 2px 2px 0 var(--accent-color);
}
