@media (width >= 768px) {
  :root {
    --header-padding-block: 0 33px;
    --description-margin-block: 0;
    --gap-block: 36px;
    --header-min-size-block: 1024px;
    --header-padding-inline: 0 20px;
    --right-position-text-decor: 30px;
    --top-posotion-text-decor: 7px;
    --top-position-element-decor: 6px;
    --bottom-position-element-decor: 34px;
    --left-position-element-decor: 20px;
    --right-position-element-decor: 20px;
    --header-template-columns: 1fr 1fr;
    --grid-column-theme-menu: 2;
    --font-size-header-title: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    --inline-size-description: 364px;
    --main-gap-block: 70px;
    --main-section-padding-block: 10px 0;
    --header-margin-block: 0px;
    --footer-margin-block: 38px 0;
    --footer-title-padding-block: 0px 26px;
    .header__decorative-text::after {
      margin-block-end: 2px;
    }
  }

  :root.theme-dark {
    --header-padding-block: 0 33px;
    --description-margin-block: 0;
    --gap-block: 36px;
    --header-min-size-block: 1024px;
    --header-padding-inline: 0 20px;
    --right-position-text-decor: 30px;
    --top-posotion-text-decor: 7px;
    --top-position-element-decor: 6px;
    --bottom-position-element-decor: 34px;
    --left-position-element-decor: 20px;
    --right-position-element-decor: 20px;
    --header-template-columns: 1fr 1fr;
    --grid-column-theme-menu: 2;
    --font-size-header-title: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    --inline-size-description: 364px;
    --main-gap-block: 70px;
    --main-section-padding-block: 10px 0;
    --header-margin-block: 0px;
    --footer-margin-block: 38px 0;
    --footer-title-padding-block: 0px 26px;
    .header__decorative-text::after {
      margin-block-end: 2px;
    }
  }

  :root.theme-light {
      --header-margin-block: 6px;
      --main-section-padding-block: 3px 0;
      --main-gap-block: 77px;
      --footer-margin-block: 38px 0;
      --footer-title-padding-block: 0 22px;
  }

  @media (prefers-color-scheme: light) {
    :root {
      --header-margin-block: 6px;
      --main-section-padding-block: 3px 0;
      --main-gap-block: 77px;
      --footer-margin-block: 38px 0;
      --footer-title-padding-block: 0 22px;
    }
  }

  .header__title {
    grid-column: 1 / 3;
  }

  .header__description {
    grid-column: 2;
  }

  .main {
    padding-inline: 20px;
  }

  .main__section {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: min-content;
    grid-auto-rows: 1fr;
  }

  .section__card-group {
    grid-column: 1 / 4;
    grid-template-columns: repeat(3, 1fr);
    .section__card {
      grid-column: 1 / 4;
      padding-inline-start: initial;
    }
  }

  .section__title {
    grid-column: 1;
    grid-row: 1;
  }

  .section__card {
    grid-column: 2 / 4;
  }

  .general-title-card {
    grid-column: 2 / 4;
  }

  .section__card {
    padding-inline-start: 7px;
  }

  .section__gallery {
    grid-template-rows: repeat(3, min-content);
    grid-auto-rows: initial;
    gap: 21px;
    .section__title {
      grid-column: 1 / 4;
    }
  }

  .image-sky {
    grid-column: 1 / 3;
    grid-row: 2;
  }

  .image-ice-cream {
    grid-column: 3;
    grid-row: 2 / 4;
  }

  .image-cassette {
    grid-column: 1;
    grid-row: 3 / 5;
  }

  .image-books {
    grid-column: 2;
    grid-row: 3;
  }

  .image-street {
    grid-column: 2 / 4;
    grid-row: 4;
  }
}